* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #EEEFEA;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

label {
    font-weight: bold;
    font-size: x-large;
}

input {
    background-color: #FFFFFF;
    font-size: large;
    border-radius: 10px;
    border: 4px solid #000000;
    margin: 5px;
    padding: 5px;
    width: 60%;
}

p {
    margin: 30px;
}

.mainContent {
    width: 80%;
    height: 100%;
    background-color: #7CB4B8;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0 100px 0;
    border-radius: 0 0 25% 25%;
}

.container {
    border: 1px solid yellow;
}

/* .clearfix {
    clear: both;
} */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.container > div {
    float: left;
    width: 50%;
}
.formSection {
    border: 1px solid red;
}

.animalContainer {
    border: 1px solid blue;
    position: relative;
}

.footer {
    clear: both;
    background: gray;
    width: 100%
}

@media all and (max-width: 1024px) {
    .container > div {
        float: none;
        width: 100%;
    }
}
